body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FC789D;
    margin: 0;
    padding: 0;
}

header{
    background-color: #FC789D;
    color: #FECB02;
    padding: 0;
    text-align: center;
}

nav{
    background-color: #FC789D;
    color: #FECB02;
    padding: 10px;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

a {
    color: #FECB02;
    text-decoration: none;
}

