body{
    background-color: #FECB02;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 100px;
    justify-content: space-between;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    margin-left: 60px;
    font-weight: bold;
    text-decoration: none;
    color: #52331F;
}
.container{
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.content{
    position: relative;
    width: 50%;
    margin-top: 50px;
}
.content h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    color: black;
    font-weight: normal;
}
.content h1 span{
    color: #D7004D;
    font-weight: bold;
}
.content h2{
    color: black;
    line-height: 50px;
}
.content p{
    position: relative;
    color: #D7004D ;
    padding-top: 28px;
}
.content a{
    display: inline-block;
    color: black;
    padding: 10px 20px;
    background: #D7004D;
    border-radius: 50px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: 50px;
}
.products{
    margin-top: 50px;
}
.click li{
    list-style: none;
}
.click img{
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    margin: 30px 0px 0px 30px;
    cursor: pointer;
    transition: 0.5s;
}
.click img:hover{
    transform: translate(-15px);
}
.ball{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(500px at right);
    background: #FC789D;
}



